<div class="s-list">
  <div class="s-list-header">
    Surveyors
  </div>
  <div class="item">
    <span>#01</span>
    <span>Akash Gupta</span>
    <span>zone 1</span>
    <div class="circle">
      24
  </div>
  </div>
  <div class="item">
    <span>#01</span>
    <span>Akash Gupta</span>
    <span>zone 1</span>
    <div class="circle">
      24
  </div>
  </div>
  <div class="item">
    <span>#01</span>
    <span>Akash Gupta</span>
    <span>zone 1</span>
    <div class="circle">
      24
  </div>
  </div>
  <div class="item">
    <span>#01</span>
    <span>Akash Gupta</span>
    <span>zone 1</span>
    <div class="circle">
      24
  </div>
  </div>
  <div class="item">
    <span>#01</span>
    <span>Akash Gupta</span>
    <span>zone 1</span>
    <div class="circle">
      24
  </div>
  </div>
</div>