/* app.component.css */
.container {
    padding: 20px; /* Adjust the padding as needed */
  }
  
  .col-sm {
    padding: 15px;
    border: 1px solid #000;
    border-radius: 10px; /* Adjust the border radius as needed */
    margin-bottom: 20px; 
    margin-right: 20px;
    margin-left: 20px;/* Add more margin between the boxes */
    text-align: center;
  }
  
  
  .table-container {
    overflow: hidden;
  }

  .list{
    background-color: white;
    padding: 10px;
    .list-header {
      font-size: 16px;
      margin-top: 10px;
      color: #C3CED2;
    }
    .item { 
      display: flex;
      padding: 10px 56px;
      border:#E8F0FF
      1px solid ;
      flex-direction: row;
      margin-bottom: 5px;
      margin: 5px;
      border-radius: 6px;
      span { 
        flex: 1;
        color: #000;
        font-weight: bold; 
      }
      p{
        flex:1;
      }
      button{
        background-color: #fff3e8;
        color:#e7cc91;
        border: none;
        border-radius: 10px;
      }
    }
 
  }
  .circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color:#9fc1fb;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
    font-weight: bold;
  }


  .circle1 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color:#65c565;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
    font-weight: bold;
  }



  .surveyor-form {
    padding: 20px; /* Adjust padding as needed */
  }
  .surveyor-form label {
    font-weight: bold;
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-check {
    margin-bottom: 10px;
  }
  
  .modal-footer {
    border-top: 1px solid #ffffff;
    padding-top: 15px;
    margin-top: 15px;
  }

  .btn-full-width {
    width: 100%; /* Make the button full width */
  }
  
  /* Remove lines between form groups */
  .form-group {
    margin-bottom: 0;
  }
  
  .form-check {
    margin-bottom: 0;
  }
  .skeleton-loader-container {
    display: flex;
    flex-wrap: wrap;
  }

  .skeleton-item {
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    margin-bottom: 10px;
  }

  @keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }