<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <span class="d-block text-center mb-3">Active TVCs</span>
                    <h3 class="card-title text-center mb-0">2</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-6 mb-4">
            <div class="card">
                <div class="card-body" style="background-color: #9fc1fb;color: white;border-radius: 10px"  >
                    <span class="d-block text-center mb-3" style="
                    padding-top: 26px;">Add New TVC</span>
                    <h3 class="card-title text-center mb-0"></h3>
                    <!-- <h3 class="card-title text-center mb-0">20</h3> -->
                </div>
            </div>
        </div>
    </div>

    <div class="list">
        <div style="display: flex;">
            <div class="list-header">
                Recent Vendors
            </div>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false"
                style="margin-left: 10px; background: white;color: black;">
                All Zones
            </button>
        </div>
        <div class="item">
            <span>#01</span>
            <span>Suraj Kumar</span>
            <span>zone 1</span>
            <div class="circle">
                25
            </div>
            <span>Certified Vendors</span>
            <div class="circle1">
                04
            </div>
            <span>Unverified Vendors</span>

        </div>
        <div class="item">
            <span>#01</span>
            <span>Suraj Kumar</span>
            <span>zone 1</span>
            <div class="circle">
                25
            </div>
            <span>Certified Vendors</span>
            <div class="circle1">
                07
            </div>
            <span>Unverified Vendors</span>
        </div>
    
    </div>