<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-6 mb-4">
      <div class="card">
        <div class="card-body">
          <span class="d-block text-center mb-3">Total Vendors</span>
          <h3 class="card-title text-center mb-0">1000</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-6 mb-4">
      <div class="card">
        <div class="card-body">
          <span class="d-block text-center mb-3">Certified Vendors</span>
          <h3 class="card-title text-center mb-0">128</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-6 mb-4">
      <div class="card">
        <div class="card-body">
          <span class="d-block text-center mb-3">Acknowledged Vendors</span>
          <h3 class="card-title text-center mb-0">272</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12 col-6 mb-4"></div>

    <div class="col-lg-4 col-md-12 col-6 mb-4"></div>
  </div>
</div>

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-lg-8 col-md-12 col-12 mb-8 table-container">
      <app-recent-vendors></app-recent-vendors>
    </div>
    <div class="col-lg-4 col-md-12 col-12 mb-8 table-container-surveyors">
      <app-surveyors></app-surveyors>
    </div>
  </div>
</div>
