<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-6 mb-4">
      <div class="card">
        <div class="card-body">
          <span class="d-block text-center mb-3">Total Vendors</span>
          <h3 class="card-title text-center mb-0">1000</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-6 mb-4">
      <div class="card">
        <div class="card-body">
          <span class="d-block text-center mb-3">Certified Vendors</span>
          <h3 class="card-title text-center mb-0">128</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-6 mb-4">
      <div class="card">
        <div class="card-body">
          <span class="d-block text-center mb-3">Acknowledged Vendors</span>
          <h3 class="card-title text-center mb-0">272</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12 col-6 mb-4">

    </div>

    <div class="col-lg-4 col-md-12 col-6 mb-4">

    </div>
  </div>
</div>

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-lg-8 col-md-12 col-12 mb-8 table-container" >
      <div class="list">
        <div class="list-header">
          Recent Vendors
        </div>
        <div class="item">
          <span>9988776655</span>
          <span>Ajay Kumar</span>
          <span>zone 1</span>
          <p>14:32</p>
          <button>Acknowledged</button>
        </div>
        <div class="item">
          <span>9988776655</span>
          <span>Ajay Kumar</span>
          <span>zone 1</span>
          <p>14:32</p>
          <button>Acknowledged</button>
        </div>
        <div class="item">
          <span>9988776655</span>
          <span>Ajay Kumar</span>
          <span>zone 1</span>
          <p>14:32</p>
          <button>Acknowledged</button>
        </div>
        <div class="item">
          <span>9988776655</span>
          <span>Ajay Kumar</span>
          <span>zone 1</span>
          <p>14:32</p>
          <button>Acknowledged</button>
        </div>
        <div class="item">
          <span>9988776655</span>
          <span>Ajay Kumar</span>
          <span>zone 1</span>
          <p>14:32</p>
          <button>Acknowledged</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-12 mb-8 table-container-surveyors">
      <div class="s-list">
        <div class="s-list-header">
          Surveyors
        </div>
        <div class="item">
          <span>#01</span>
          <span>Akash Gupta</span>
          <span>zone 1</span>
          <div class="circle">
            24
        </div>
        </div>
        <div class="item">
          <span>#01</span>
          <span>Akash Gupta</span>
          <span>zone 1</span>
          <div class="circle">
            24
        </div>
        </div>
        <div class="item">
          <span>#01</span>
          <span>Akash Gupta</span>
          <span>zone 1</span>
          <div class="circle">
            24
        </div>
        </div>
        <div class="item">
          <span>#01</span>
          <span>Akash Gupta</span>
          <span>zone 1</span>
          <div class="circle">
            24
        </div>
        </div>
        <div class="item">
          <span>#01</span>
          <span>Akash Gupta</span>
          <span>zone 1</span>
          <div class="circle">
            24
        </div>
        </div>
      </div>
  
    </div>
  </div>
</div>